:root{
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
  --card-mobile-width: 330px;
  --card-desk-width: 350px;
  --card-height: 375px;
  --card-bg-height: 140px;
  --card-bg-color: white;
  --card-pic-height: 100px;
  --card-pic-width: 100px;
  --card-smedia-height: 285px;

  --mobile-width: 375px;
  --desk-width: 1440px;

  --main-text-color:hsl(229, 23%, 23%);
  --bg-color: hsl(185, 75%, 39%);
  --sec-text-color:hsl(227, 10%, 46%);
  --other-color:hsl(0, 0%, 59%);
  --main-font-size: 1.8rem;
  --sec-font-size: 1.3rem;
  --regular-font-weigth: 400;
  --hligth-font-weigth: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg-color);
}

/* Card Sizing */
.prof-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 90vh;
}

.prof-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: auto;
  min-width: var(--card-mobile-width);
  height: var(--card-height);
  text-align: center;
}
/* .prof-card parts */
.prof-card__bg {
  width: 100%;
  height: var(--card-bg-height);
  border-radius: 10px 10px 0px 0px;
  background: url(../images/bg-pattern-card.svg);
}
.prof-card__main {
  width: 100%;
  height: calc(var(--card-height) - var(--card-bg-height));
  border-radius: 0px 0px 10px 10px;
  background-color: var(--card-bg-color);
}
.prof-card__main .main--pic figure{
  display: inline-block;
  position: relative;
  bottom: 5.0rem;
  width: var(--card-pic-width);
  height: var(--card-pic-height);
  border: 3px solid var(--card-bg-color);
  border-radius: 50%;
  background: url(../images/image-victor.jpg) no-repeat;
  background-size: cover;
}
/* .prof-card name */
.prof-card__main .main--name {
  width: 100%;
  margin: -25px 0px 20px 0px;
  color: var(--main-text-color);
  font-size: var(--main-font-size);
  font-weight: var(--hligth-font-weigth);
}
.prof-card__main .main--name span {
  margin-left: 0.5rem;
  color: var(--sec-text-color);
  font-weight: var(--regular-font-weigth);
}
.prof-card__main .main--name p:nth-of-type(2) {
  margin-top: 1.2rem;
  font-size: var(--sec-font-size);
  color: var(--sec-text-color);
  font-weight: var(--regular-font-weigth);
}
/* smedia counter */
.main--smedia {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: calc(var(--card-height) - var(--card-smedia-height));
  border-top: 1px solid var(--other-color);
}
.main--smedia .smedia__counter {
  width: 25%;
}
.smedia__counter .counter--num {
  margin-bottom: 0.7rem;
  color: var(--main-text-color);
  font-size: var(--sec-font-size);
  font-weight: var(--hligth-font-weigth);
}
.smedia__counter .counter--type {
  color: var(--sec-text-color);
  letter-spacing: 0.1rem;
}
/* Other things */
.attribution {
  width: 100%;
  text-align: center;
}


